
/* ------------------------------ */
/* ---  VARIABLES  -------------- */
/* ------------------------------ */

:root {
    --color-primary: rgb(242,242,242);
    --color-secondary: white;
    --font-color-primary: black;
    --font-color-secondary: white;
    --font-color-tertiary: white;
}


/* ------------------------------ */
/* ---  Generic tag styling  ---- */
/* ------------------------------ */


html {
    font-family: "Crimson Text", "serif";
}

body {
    margin: 0;
    background: var(--color-primary);
    color: var(--font-color-primary);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:link, a:visited, a:active {
    color: inherit;
}


/* -------------------------------- */
/* ---  Header bar ---------------- */
/* -------------------------------- */


#header-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 7vw;
    min-height: 70px;
    max-height: 120px;
    background: var(--color-secondary);
    color: var(--font-color-primary);
    border-bottom: 1px solid black;
}

#header-bar-buffer {
    width: 100%;
    height: 7vw;
    min-height: 70px;
    max-height: 120px;
}

#header-logo {
    margin-left: 2%;
    align-self: center;
    height: 80%;
    cursor: pointer;
}

#header-title {
    margin: 0 0 0 20px;
    font-weight: lighter;
    font-size: 1.3rem;
    width: 0;
    cursor: pointer;
}

#menu-button-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 7vw;
    min-height: 70px;
    max-height: 120px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.menu-button {
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.8rem;
    background: rgb(245,245,245);
    box-shadow: 2px 1px black;
    border-radius: 100px;
    border: 1px solid rgb(200,200,200);
}

.menu-button:hover {
    background: rgb(230,230,230);
    box-shadow: 3px 2px black;
}


/* -------------------------------------- */
/* ---  Main content - basic layout ----- */
/* -------------------------------------- */


#main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#post-bucket {
    width: 70%;
    max-width: 800px;
    min-height: 100vh;
    padding: 25px 5% 5% 5%;
}

#archive-panel {
    width: 30%;
    padding: 40px;
    max-width: 300px;
    min-width: 225px;
    min-height: 100vh;
    background: var(--color-primary);
    color: var(--font-color-primary);
}


/* ------------------------------------ */
/* ---  Blog post element styling ----- */
/* ------------------------------------ */


.post {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.post-final {
    border-bottom: none;
}

.post h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.post h2 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.post h4 {
    font-size: 0.9rem;
    margin: 0 0 30px 0;
    color: rgb(125, 125, 125);
    font-weight: normal;
}

.post p {
    font-size: 1.2rem;
    line-height: 28px;
}

.post a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    transition: 0.2s;
}

.post a:hover {
    background-color: lightgray;
}

.post h1 a {
    text-decoration: none;
}

.post h1 a:hover {
    text-decoration: underline;
    color: black;
    background: unset;
}

.post ol {
    font-size: 1.2rem;
}

.post ul {
    font-size: 1.2rem;
}

.post li {
    margin-bottom: 10px;
}

.post blockquote {
    padding-left: 20px;
    border-left: 4px solid rgb(200,200,200);
    margin-left: 20px;
}

.post blockquote p {
    font-size: 1.0rem;
    color: rgb(100,100,100);
    margin-top: 5px;
    margin-bottom: 5px;
}

.post img {
    width: 100%;
}

.post iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.post .youtube-video-outer {
    width: 80%;
    margin: 30px auto;
}

.post .youtube-video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    height: 0;

}

.post .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post figure {
    margin-left: 0;
    margin-right: 0;
}

.post figcaption {
    width: 80%;
    margin: auto;
    text-align: center;
    color: rgb(125,125,125);
}

.post .metaculus-embed {
    height:350px;
    width: 550px;
    max-width:100%;
    border: none;
    display: block;
    margin: 30px 0;
    box-shadow: 0 0 1px 0 rgb(0,0,0,0.5);
}

.post .mychart-embed {
    width: 100%;
    height: 725px;
}

.post .table-padding {
    padding: 20px;
    width: fit-content;
    background-color: white;
}

.post table {
    border-collapse: collapse;
    background-color: white;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 0 1px 0 rgb(0,0,0,0.5);
    font-family: monospace;
    color: rgb(75, 75, 75);
    max-width: 100%;
    overflow: auto;
}

.post table thead {
    font-weight: bold;
    text-align: left;
}

.post table tr {
    height: 35px;
}

.post table tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

.post table thead th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 10px;
}

.post table td {
    padding: 5px 10px;
}

.post .reply-link-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 50px 0 15px 0;
}

.post .reply-link {
    margin-right: 20px;
    text-decoration: none;
    font-style: italic;
    color: rgb(175, 175, 175);
    text-align: right;
}

.post .reply-link:hover {
    text-decoration: underline;
    color: black;
    background-color: unset;
}

.post .red-highlight {
    color: darkred;
    background-color: rgb(255, 200, 200);
}

.post .green-highlight {
    color: darkgreen;
    background-color: rgb(200, 255, 200);
}

/* -------------------------------- */
/* ---  Archive panel ------------- */
/* -------------------------------- */


.archive-panel-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    border: 1px solid black;
    margin-bottom: 25px;
}

.archive-panel-header {
    width: 100%;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.archive-panel-link-list {
    margin-top: 0;
    padding-right: 10px;
}

.archive-panel-section a:hover {
    text-decoration: underline;
}

#archive-link {
    margin: 5px 0 10px 10px;
    font-style: italic;
}

/* ------------------------------- */
/* ---  Archive Page ------------- */
/* ------------------------------- */

#post-archive-list a:hover {
    text-decoration: underline;
}

/* ------------------------- */
/* ---  Footer ------------- */
/* ------------------------- */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright-text {
    width: 90%;
    max-width: 1300px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(175, 175, 175);
    font-size: 0.7rem;
}


/* -------------------------------- */
/* ---  Narrow Screens ------------ */
/* -------------------------------- */


@media only screen and (max-width: 1000px) {

    #post-bucket {
        width: 90%;
        padding: 25px 0;
    }

    #archive-panel {
        width: 80%;
    }

    #header-bar {
        height: 70px;
    }

    #header-title {
        width: auto;
    }

    #menu-button-wrapper {
        display: flex;
    }

    .hidden {
        display: none;
    }

    .post .youtube-video-outer {
        width: 100%;
    }

    .post .metaculus-embed {
        height:500px;
    }

}




