
body {
	display: flex;
	justify-content: center;
	font-family: "Cardo";
}

a:link {
   color: black;
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:hover {
   color: black;
   text-decoration: none;
}

a:active {
   color:black;
   text-decoration: none;
}

/* ----------
    Nav Icon
   ---------- */

#nav-icon-home {
    position: fixed;
    z-index: 2;
    top: 3%;
    right: 5%;
    height: 30px;
    background: none;
}

#nav-icon-home:hover {
    height: 34px;
    background: none;
}

#nav-icon-home-img {
    height: 100%;
}

#projects-container {
	margin-top: 25px;
	display: flex;
	width: 90%;
	max-width: 1100px;
	justify-content: center;
	flex-wrap: wrap;
}

.project-card {
	margin: 0 12px 24px 12px;
	width: 325px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	cursor: pointer;
	position: relative;
}

.project-card:hover {
	background-color: rgb(247, 247, 247);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.project-card-img {
	width: 100%;
	height: 240px;
	object-fit: cover;
}

.project-card-text {
	width:100%;
	height: 125px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.project-card-title {
	width: 90%;
	margin: 0 auto; 
	font-size: 1.1rem;
}

.project-card-description {
	width: 90%;
	margin: 10px auto 10px auto; 	
	text-align: center;
	font-size: 0.9rem;
}

.coming-soon {
	cursor: default;
}

.coming-soon-popup {
	display: none;
	align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    cursor: default;
}

.coming-soon-popup h1 {
	font-style: italic;
    color: rgb(100, 100, 100);
    font-weight: normal;
    font-size: 1.5rem;
}